// Colours partial

// Paleta de Cores Personalizada
$color-primary-1: #769cc1; // 3
$color-primary-2: #90aac3; // 4
$color-primary-3: #b9ccdb; // 1
$color-primary-4: #667f9d; // 5 
$color-primary-5: #a1bde1; // 2
$color-primary-6: hsl(214,52%,76%);

// Text colours
$txt-primary: rgba(28, 54, 83, 0.6);
// body font
$txt-secondary: #3D4351;
// heading font
$txt-light: #fff;
// header/hero
$txt-accent: #ACB1B4;
$form-placeholder: #BCC1C3;
// form placeholder text
// Global colours
// $accent-color: #e8ca6f;
$accent-color: #769cc1;
// global accent colour
// $accent-color-hover: #d3b56a;
$accent-color-hover: #90aac3;
// global accent colour hover
$white-color: #fff;
$black-color: #000;
// Typography colours
$h2-color: #3D4351;
$h3-color: #3D4351;
$h5-color: #3D4351;
// Layout colours
$section-light: #fff;
$section-dark: #f8f9fd;
$to-top-bg: #495061;
$footer-primary: #3D4351;
$footer-secondary: #373D4A;
// Keylines
$keyline-color: #E6E9EA;
$footer-keyline-color: #4E566C;